= render partial: "/movies/info", locals: {movie: movie}

%tr
  %td
    %div= movie.title
    %small= movie.tagline
  %td= movie.year
  %td
    - if movie.user.present?
      .pull-left.margin-right= movie.user.full_name
      .pull-left= image_tag movie.user.avatar, class: ["img-circle"], size: "25x25"

  %td
    = link_to imdb_link_for(movie.imdb_id), class: ["btn", "btn-default", "btn-sm"], target: "_blank" do
      IMDB
      %i.fa.fa-external-link
    = link_to "#movie-info-#{movie.id}", class: ["btn", "btn-primary" ,"btn-sm"], data: { toggle: "modal" } do
      More
      %i.fa.fa-toggle-up
