.modal.fade{ id: "movie-info-#{movie.id}", tabindex: "-1", role: "dialog", aria: { labelledby: "#{movie.title}", hidden: "true" }}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: "true" }}
          &times
        %h4.modal-title{ id: "#{movie.title}" }
          = "#{movie.title} info"
      .modal-body
        %ul.nav.nav-tabs.nav-justified
          %li.active=link_to 'Info', "#movie-#{movie.id}-info", data: { toggle: "tab" }
          %li= link_to 'Trailer', "#movie-#{movie.id}-trailer", data: { toggle: "tab" }

        .tab-content
          .tab-pane.active{ id: "movie-#{movie.id}-info" }
            .row
              .col-md-4
                = image_tag movie.poster_url
              .col-md-8
                .row
                  .col-md-2
                    %strong= "Title:"
                  .col-md-10= movie.title

                .row
                  .col-md-2
                    %strong= "Year:"
                  .col-md-10= movie.year

                .row
                  .col-md-2
                    %strong= "Tagline:"
                  .col-md-10= movie.tagline

                .row
                  .col-md-2
                    %strong= "Plot:"
                  .col-md-10= movie.plot

                .row
                  .col-md-2
                    %strong= "Genres:"
                  .col-md-10= movie.genres.join(", ")

          .tab-pane{ id: "movie-#{movie.id}-trailer" }
            .text-center
              %video{ controls: true }
                %source{ src: movie.trailer_url }

      .modal-footer
        %button.btn.btn-default{ type: "button", data: { dismiss: "modal" }}
          OK

%tr
  %td
    %div= movie.title
    %small= movie.tagline
  %td= movie.year
  %td
    - if movie.user.present?
      .pull-left.margin-right= movie.user.full_name
      .pull-left= image_tag movie.user.avatar, class: ["img-circle"], size: "25x25"

  %td
    = link_to imdb_link_for(movie.imdb_id), class: ["btn", "btn-default", "btn-sm"], target: "_blank" do
      IMDB
      %i.fa.fa-external-link
    = link_to "#movie-info-#{movie.id}", class: ["btn", "btn-primary" ,"btn-sm"], data: { toggle: "modal" } do
      More
      %i.fa.fa-toggle-up
