.pull-right
  = link_to new_movie_path, class: ["btn", "btn-primary"] do
    Add movie
    %i.fa.fa-plus

.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        %th= "Title"
        %th= "Year"
        %th= "Proposed by"
        %th

    %tbody
      = render partial: "/movies/row", collection: movies, as: :movie