-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'

      .navbar-right
        - if logged_in?
          .navbar-text
            = current_user.full_name
          = image_tag current_user.avatar, class: ["img-circle", "navbar-image"]
          = link_to 'Sign out', signout_path, class: ["btn btn-default", "navbar-btn"]
        - else
          = link_to '/signet/google/auth', class: ["btn btn-default", "navbar-btn"] do
            = image_tag 'google_21.png'
